<p style="color: green"><%= notice %></p>

<h1>
  <%= [@patient.first_name, @patient.last_name].join(' ') %>
</h1>

<section>  
  <%= button_to "Destroy this patient", @patient, method: :delete %>
</section>

<section>
  <%= link_to 'Add new note', new_patient_note_path(@patient) %>
</section>

<section class="patient__notes">
  <% @patient.notes.each do |note| %>
    <div class="note">
      <p><%= note.title %></p>
      <p><%= note.content %></p>
      <p>Added by: <%= note.author.name %>, <%= note.author.title %></p>
    </div>
  <% end %>
</section>

<section>
  <%= link_to "Back to patients", patients_path %>
</section>